#buttonDiv
{
    width: 700px;
    position: absolute;
    top: 50%;
    left: 30%;
}

#timerText
{
    position: absolute;
    top: 25%;
    left: 35%;
}

#text
{
    position: absolute;
    left: 20%;
}